@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

html {
    font-family: "Roboto", sans-serif, Arial;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100%;
}

.material-symbols-outlined {
    font-size: 180%;
}

.header {
    color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows:  1fr 3fr;
    background-color: #7796CB;
    grid-area: 1 / 2 / 2 / 2;
    box-shadow: 0px 1px 6px black;
    z-index: 2;
    padding: 10px;
}

.user-small {
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 5px;
}

.header img {
    height: 4.5vh;
}

.search {
    display: flex;
    grid-area: 1 / 1 / 1 / 2;
    align-items: center;
    gap: 5px; 
}

input[type=search] {
    border-radius: 6px;
    height: 3vh;
}

.bell-user {
    grid-area: 1 / 2 / 1/  2 ;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 35%;
}

.user-big {
    margin-top: 20px;
    grid-area: 2 / 1 / 2 / 1 ;
    height: 60%;
    font-size: 1.5em;
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

}

.user-big img {
    height: 10vh;
    justify-self: center;
}

.user-options {
    padding-right: 10px;
    display: inline-flex;
    grid-area: 2 / 2 / 2 / 2;
    gap: 15px;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  white-space: pre;
}

button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

button:focus {
  border-color: #576490;
  outline: none;
}

#search-bar {
    width: 40vw;
    border: 2px solid black;
}

.sidebar {
    color: white;
    display: grid;
    grid-area: 1 / 1 / 3 / 1;
    background-color:  #576490;
    grid-template-rows: 0.8fr 4fr 2fr;
    z-index: 3;
    padding: 15px;
}

.sidebar-title {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar-row {
    display: inline-grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    align-items: center;
}

.options {
    border-top: 1px solid rgba(68, 67, 67, 0.455);
    border-bottom: 1px solid rgba(68, 67, 67, 0.455);

}

.options, .utilities {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.main-content {
    display: grid;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 15px;
    grid-area: 2 / 2 / 2 / 2;
    background-color: #C9CAD9;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 9fr;
    column-gap: 20px;
}
.projects {
    overflow-y: auto;
    grid-area: 2 / 1 / 2 / 1;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.main-content h4 {
    align-self: end;
    margin-bottom: 15px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.card h3 {
    font-weight: 700;
}

.newsletter {
    grid-area: 1 / 2 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 3fr;
}

#new-users {
    display: grid;
    overflow: auto;
}

.new-user {
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(auto-fit, minmax(30px, 1fr));
    align-items: center;
    column-gap: 5px;
    margin-top: 5px;
}

.new-user img {
    height: 4vh;
    justify-self: center;
}

#announcements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#announcements div {
    height: 33%;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
}

#announcements p {
    font-size: .8rem;
}

a {
    text-decoration: none;
    color: black;
}

.anbot, .anmid {
    border-top: 1px solid rgba(18, 17, 17, 0.529);
}
