@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
* {
    margin: 0%;
    padding: 0%;
}

html {
    font-family: "Roboto", sans-serif, Arial;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100%;
}

.header {
    color: white;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows:  1fr 3fr;
    background-color: #7796CB;
    grid-area: 1 / 2 / 2 / 2;
    box-shadow: 0px 1px 6px black;
    z-index: 2;
}

.search {
    grid-area: 1 / 1 / 1 / 2;
}

.bell-user {
    grid-area: 1 / 2 / 1/  2 ;
    display: flex;
    justify-content: end;
}

.user-big {
    display: inline-flex;
    gap: 10px;
    grid-area: 2 / 1 / 2 / 1 ;
    height: 60%;
    padding-left: 30px;
    padding-top: 25px;
}

.user-options {
    grid-area: 2 / 2 / 2 / 2;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  white-space: pre;
}

button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

button:focus {
  border-color: #576490;
  outline: none;
}

#search-bar {
    width: 40vw;
    border: 2px solid black;
}

.sidebar {
    color: white;
    display: grid;
    grid-area: 1 / 1 / 3 / 1;
    background-color:  #576490;
    grid-template-rows: 1fr 3fr 2fr;
    z-index: 3;
}
.sidebar-title {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.options {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.utilities {

}

.main-content {
    display: grid;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 15px;
    grid-area: 2 / 2 / 2 / 2;
    background-color: #C9CAD9;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 9fr;
    column-gap: 20px;
}
.projects {
    overflow-y: auto;
    grid-area: 2 / 1 / 2 / 1;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.main-content h4 {
    align-self: end;
    margin-bottom: 15px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.card h3 {
    font-weight: 700;
}

.newsletter {
    grid-area: 1 / 2 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 3fr;
}

#announcements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#announcements div {
    height: 33%;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
}

.anbot, .anmid {
    border-top: 1px solid rgba(18, 17, 17, 0.529);
}
